p, b, ul, li {
    font-size: 20px;
}

#display-mode {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

header, .header-text {
    background-color: #000;
    color: #00ff00 !important;
}

#header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.header-content-item {
    margin: 10px;
}
.button {
    margin-top: 10px;
}

.title {
    padding-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;
}

#display-mode:hover {
    cursor: pointer;
}